@use './typography' as *;
@use './variables' as *;

html {
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    scrollbar-width: none;
    scrollbar-color: #333333 #e5e5e5;
  }

  *::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #e5e5e5;
    height: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: #333333;
    border-radius: 10px;
    max-height: 50px;
    background-clip: content-box;
    border-color: transparent;
    border-style: solid;
}

:root {
    --spacing: max(1rem, 2.5vmin);
}

body {
    font-family: $Archivo;
    margin: 0 auto;
    background: linear-gradient(35deg, #ffffff, #808080, #000000, #808080, #ffffff);
    animation: gradient 25s ease infinite;
    background-size: 1000% 1000%;
    line-height: 1.2rem;
}

a {
    margin: none;
}

h1 {
    margin: 0;
}

@keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
