@use './variables' as *;

@mixin small-mobile {
  @media screen and (max-width: 440px) {
    @content;
  }
}

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
      @content;
    }
}  

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
     @content;
  }
}

@mixin tall-screen {
  @media screen and (min-height: 1151px) {
    @content
  }
}

@mixin short-screen {
  @media screen and (max-height: 699px) {
    @content
  }
}

// Fade-in animation that takes a number value in seconds


@mixin fade-in($delay) {

  animation: fade-in 2s linear 1 $delay normal forwards;
  opacity: 0;

  @keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
  }
}