@use './variables' as *;

@mixin small-mobile {
  @media screen and(max-width: 440px) {
    @content;
  }
}

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
      @content;
    }
  }
  
  @mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
      @content;
    }
  }