@use './variables' as *;

@mixin small-mobile {
  @media screen and(max-width: 440px) {
    @content;
  }
}

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
      @content;
    }
  }
  
@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
     @content;
  }
}

@mixin fade-in($delay) {

  animation: fade-in 2s linear 1 $delay normal forwards;
  opacity: 0;

  @keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
  }
}