@font-face {
    font-family: 'Liberation', sans-serif;
    src: url('../assets/fonts/LiberationSans-Regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$liberation: 'Liberation';