@font-face {
    font-family: 'Archivo';
    src: url(../assets/fonts/archivo-semi-bold.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$archivo: 'Archivo';