@font-face {
    font-family: 'Archivo';
    src: local("Archivo"), 
     url('../assets/fonts/Archivo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$Archivo: 'Archivo';