$mobile-min: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$desktop-max: 1920px;

//Background color
$brunswick-green: #344E41;

//Lighter Background color
$hunter-green: #3A5A40;

//Primary font color
$timberwolf: #DAD7CD;

//Primary Color
$laurel-green: #A3B18A;

//Secondary Color
$fern-green: #588157;