@use '../../styles/mixins';
@use '../../styles/variables' as *;

.desktop-description {
    display: none;
    @include mixins.desktop {
        display: block;
        max-width: 50%;
    }

    &__paragraph {
        margin: 0;
        padding-right: 2rem;
        font-size: 1.15rem;
        line-height: 1.8rem;
    }
}

.bold {
    font-style: normal;
    color: #dfdf3c;
}