.contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    bottom: calc(var(--spacing));
    right: var(--spacing);
    animation-name: fadein;
    animation-duration: 3s;
    animation-iteration-count: 1;

    &__link {
        color: black;
        transition: color 0.3s ease-in;
        &:hover {
            color: #333333;
        }
        &:visited {
            color: black;
        }
    }
}

.react-icons {
    size: calc(var(--spacing)*5);
    color: black;
    transition: color 0.3s ease-in;
    &:hover {
        color: #333333;
    }
    &:visited {
        color: black;
    }

}

@keyframes fadein {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}