@use '../../styles/typography' as *;
@use '../../styles/mixins';

.header {
    z-index: 10;
    display: flex;

    &__title {
        position: absolute;
        top: var(--spacing);
        left: var(--spacing);
        width: 100%;
        font-weight: bold;
        opacity: 0%;

        animation-name: titleload;
        animation-delay: 4s;
        animation-duration: 4s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;

        &:hover {
            cursor: pointer;
        }

        @include mixins.small-mobile {
            line-height: calc(var(--spacing)*2);
        }
    }

    &__list {
        display: flex;
        gap: var(--spacing);
        list-style-type: none;
        margin: 0;
        padding: 0;
        justify-content: space-between;
        position: absolute;
        top: var(--spacing);
        right: var(--spacing);
        opacity: 0%;

        animation-name: listload;
        animation-delay: 5.5s;
        animation-duration: 4s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;

        @include mixins.small-mobile {
            flex-direction: column;
            line-height: calc(var(--spacing)*2);
        }

    }
    
    &__list-item {
        cursor: pointer;

        &::after {
            content: '';
            display: block;
            width: 0;
            height: 4px;
            background: black;
            transition: width 0.2s;
        }
        &:hover::after {
            width: 100%;
        }

    }
}

@keyframes titleload {
    0% {
        opacity: 0%;
        left: -50%;
    }
    50% {
        opacity: 0%;
        left: 0;
    }
    100% {
        opacity: 100%;
        left: var(--spacing);
    }
}

@keyframes listload {
    0% {
        opacity: 0%;
        // right: -50%;
    }
    50% {
        opacity: 0%;
        right: 0;
    }
    100% {
        opacity: 100%;
        right: var(--spacing);
    }
}