@use '../../styles/typography' as *;
@use '../../styles/mixins';

.header {
    z-index: 10;
    display: flex;

    &__title {
        position: absolute;
        top: var(--spacing);
        left: var(--spacing);
        width: 100%;
        font-weight: 300;

        &:hover {
            cursor: pointer;
        }

        @include mixins.small-mobile {
            line-height: calc(var(--spacing)*2);
        }
    }

    &__list {
        display: flex;
        gap: var(--spacing);
        list-style-type: none;
        margin: 0;
        padding: 0;
        justify-content: space-between;
        position: absolute;
        top: var(--spacing);
        right: var(--spacing);

        @include mixins.small-mobile {
            flex-direction: column;
            line-height: calc(var(--spacing)*2);
        }

    }
    
    &__list-item {
        &:hover {
            border-bottom: 4px solid black;
            cursor: pointer;
        }

    }
}