@use '../../styles/typography' as *;
@use '../../styles/mixins';

.header {
    padding: 2rem;
    padding-bottom: 0;
}

.title {
    margin: 0;
    text-align: right;
    font-size: 2rem;
}

.subtitle {
    text-align: left;

    @include mixins.small-mobile {
        font-size: 1rem;
    }
}

.subtitle-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.navbar {
    display: flex;
    justify-content: center;
    margin: 0;

    &__list {
        display: flex;
        list-style-type: none;
        margin: 0;
        gap: 2rem;
        padding: 0;
    }

}