.three-js {
    position: absolute;
    z-index: -1;
    animation-name: threejsload;
    animation-duration: 7s;
    animation-iteration-count: 1;

        &::before {
        content: "";
        background-color: rgba(0, 0, 0, 0.1);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
    }
}

@keyframes threejsload {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}