@use '../../styles/variables' as *;
@use '../../styles/mixins';

.footer {
    position: absolute;
    z-index: 11;
    display: flex;
    font-weight: bold;
    bottom: 0;
    padding-bottom: calc(var(--spacing));
    padding-left: calc(var(--spacing));
    border-top: 1px solid black;
    background-color: lightblue;
    width: 50%;
}