@use './styles/mixins';


.app {
    background: linear-gradient(35deg, #ffffff, #808080, #000000, #808080, #ffffff);
    animation: gradient 25s ease infinite;
    background-size: 1000% 1000%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
}

.main-container {
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    width: 95vw;
    height: 95vh;
    margin: 2.5vh 2.5vw;
    z-index: 1;
    background-color: white;

    animation-name: fadein;
    animation-duration: 5s;
    animation-iteration-count: 1;

}

@keyframes fadein {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}
