@use './styles/mixins';

.main-container {
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    width: 95vw;
    height: 95vh;
    margin: 2.5vh 2.5vw;
    z-index: 1;
    background-color: white;

    animation-name: fadein;
    animation-duration: 3s;
    animation-iteration-count: 1;
}
@keyframes fadein {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}
