@use './styles/mixins';

.main-container {
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    @include mixins.desktop {
        display: flex;
        margin: 3rem;
    }
}

