@use '../../styles/variables' as *;

#footer-navmenu .wave-animation {
    transform: rotate(180deg);
    bottom: initial;
    top: 0;
    //Adjust overall height
    height: 2rem
}

#footer-navmenu {
    // padding-top: 50px;
    background: linear-gradient(to right, $hunter-green, $fern-green);
    position: relative;
 }

#footer-navmenu-container {
    max-width: 100%;
    margin: 0 auto;
    text-align: center
}

#footer-navmenu ul {
    list-style: none;
    margin: 0
}

#footer-navmenu ul li {
    display: inline-block;
    margin: 6px 0
}

#footer-navmenu ul li:last-child::after {
    content: ""
}

#footer-container {
    background: linear-gradient(to right, $hunter-green, $fern-green);
}

/* Wave Animation */
.wave-animation {
    display: block;
    width: 100%;
    height: 8rem;
    max-height: 100vh;
    margin: 0;
    position: absolute;
    bottom: -1rem;
}

.wave-bg>use {
    animation: move-forever 25s linear infinite
}

.wave-bg>use:nth-child(1) {
    animation-delay: -2s;
    fill: $fern-green;
}

.wave-bg>use:nth-child(2) {
    animation-delay: -2s;
    animation-duration: 10s;
    fill: $laurel-green;
}

.wave-bg>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 8s;
    fill: $brunswick-green;
}

@-webkit-keyframes move-forever {
    0% {
        transform: translate(-90px, 0%)
    }

    100% {
        transform: translate(85px, 0%)
    }
}

@keyframes move-forever {
    0% {
        transform: translate(-90px, 0%)
    }

    100% {
        transform: translate(85px, 0%)
    }
}

.wave-animation {
    height: 3rem
}

.wave-animation {
    height: 4rem
}