@use '../../styles/variables' as *;
@use '../../styles/mixins';


.about-me-container {
    margin-top: 3rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    @include mixins.fade-in(4s);

    @include mixins.tablet {
        flex-direction: row;
        gap: 0;
        justify-content: space-evenly;
        margin-top: 8rem;
    }

    @include mixins.desktop {
        flex-direction: column;
        width: 50%;
        margin-top: 0;
        align-items: flex-start;
        justify-content: center;
    }

}

.about-me-photo {
    margin-top: 5rem;
    object-fit: cover;
    width: 8rem;
    height: 8rem;
    border-radius: 50px;
    opacity: 0.9;
    box-shadow: 1rem 0.8rem 1.5rem -0.2rem rgba(0,0,0,0.42);

    @include mixins.tablet {
        margin: 0;
    }

    @include mixins.desktop {
        justify-self: flex-start;
    }
}


.about-me-description {
    max-width: 20rem; 
    
    @include mixins.tablet {
        max-width: 25rem;
        line-height: 1.7rem;
        font-size: 1.5rem;
    }

    @include mixins.desktop {
        max-width: 80%;
        font-size: 3rem;
        line-height: 4rem;
    }
}